.row1{
    background-color:  yellowgreen;
    height: 20vh;
    border: none;
    padding-left: 10px;
}
.a{
    height: 20vh;
    width: 60%;
    padding-left: 10px;
}
.b{
    background-color: gainsboro;
    width: 20%;
    padding-left: 10px;
}
main{
    display: flex;
    height: 60vh;

}
.c{
    background-color: rgb(161, 155, 145);
    width: 20%;
    padding-left: 10px;
}
footer{
    background-color: yellowgreen;
    height: 20vh;

}
